body {
  
  background-color: dimgrey;
  padding: 20px;
}

.container {
      background: lightgray;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: 30px;
      max-width: 500px;
      margin: auto;
    }